<div class="container">
	<div id="#about" class="jumbotron animated fadeInUp">
		<h1>About educateU</h1>

		<p>For anyone new to learning about programming and software engineering, knowing where to start can be somewhat daunting due to the overwhelming amount of information and educational resources out there (a lot of which may even be outdated given the constantly changing nature of technology). educateU is intended to make these beginning stages a little easier so that users can be guided in the right direction.</p>
		<p>Users can post courses for a programming subject, which other users can rate and review. It is also easy for users to sort and filter through these courses by rating, number of reviews, or the date the course was created. Users are also able to post their own custom curriculums where they can lay out a roadmap for learning a particular skillset by assembling different learning materials together. Like courses, these curriculums can be reviewed by others as well.</p>
		<p>To become a contributing member of this site, all you have to do is create a free account to get started.</p>

		<%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary btn-block'  %>
	</div>
	
</div>