<div class="container">
  <div class="row">
    <label for="search"><strong>Search for Subject</strong></label>
    <input id="search" type="text" placeholder="Search Subject" class="form-control input-lg" autofocus="autofocus" autocomplete="off">
  </div>
  <div class="row">
    <% if user_signed_in? %>
      <%= link_to "Add Course", new_course_path, class: 'btn btn-primary pull-left' %>
      <%= link_to 'Create Curriculum', new_curriculum_path, class: 'btn btn-info pull-right'%>
    <% end %>
  </div>
  <div class="row">
      <% @languages.each do |x| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="panel language text-center col-md-10 col-md-offset-1">
          <h3><%= link_to x.name, x %></h3>
        </div>
        
      </div>
      <% end %>
  </div>
  <h2 class="text-center" id="noMatch">No Matches Found</h2>  
</div>