<div class="page-header">
  <h1><%= @language.name %> Courses</h1>
</div>
<div class="container">
  <div class="row">
    <% if user_signed_in? %>
    <%= link_to "Add Course", new_course_path, class: 'btn btn-primary pull-right' %>
    <%= link_to 'Create Curriculum', new_user_curriculum_path(current_user.id), class: 'btn btn-info pull-left'%>
    <% end %>
    <% @courses.each do |x| %>
    <div class="panel col-md-8 col-md-offset-2">
      <%= x.name %>
    </div>
    <% end %>
  </div>
</div>