/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 *= require animate
 */

@import "bootswatch/lumen/variables";

@import "bootstrap-sprockets";

@import "bootstrap";

@import "bootswatch/lumen/bootswatch";

@import "font-awesome-sprockets";
@import "font-awesome";

body {
	background: url(exclusive_paper.png) repeat 0 0;
}

.page-header h1 {
	font-family: 'Cardo', serif;
}

#about {
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-o-animation-duration: 2s;
}

.language {
	min-height: 100px;
	height: 100%;
	line-height: 100px;
	-webkit-box-shadow: 10px 11px 29px -2px rgba(0,0,0,0.46);
	-moz-box-shadow: 10px 11px 29px -2px rgba(0,0,0,0.46);
	box-shadow: 10px 11px 29px -2px rgba(0,0,0,0.46);
	background: url(crossword.png) repeat 0 0;
}

.panel {
	-webkit-box-shadow: 10px 11px 29px -2px rgba(0,0,0,0.46);
	-moz-box-shadow: 10px 11px 29px -2px rgba(0,0,0,0.46);
	box-shadow: 10px 11px 29px -2px rgba(0,0,0,0.46);
	background: url(crossword.png) repeat 0 0;
	min-height: 100px;
}

.thumbnail {
	-webkit-box-shadow: 10px 11px 29px -2px rgba(0,0,0,0.46);
	-moz-box-shadow: 10px 11px 29px -2px rgba(0,0,0,0.46);
	box-shadow: 10px 11px 29px -2px rgba(0,0,0,0.46);
	background: url(crossword.png) repeat 0 0;
}

.profilePic {
	max-height: 380px;
}

.language > h3 {
	display: inline;
	vertical-align: middle;
	font-family: 'Inconsolata';
	
}

.panel > h3 > a {
	/*color: rgb(21, 187, 21);*/
}

#search {

}

/*h1	{
	font-family: 'Inconsolata';
}*/

.row {
	margin-bottom: 1em;
}

.nav-pills {
	margin-bottom: 1em;
}

.nav-pills > li > a  {
	color: rgb(198, 21, 21);
}

.nav-pills > li > a > .badge {
	background-color: rgb(201, 79, 79);
}

.nav-pills > li.active > a {
	background-color: rgb(201, 79, 79) !important;
}

.nav-pills > li.active > a > .badge {
	color: rgb(198, 21, 21);
}

label.required:after {
	content: " *";
}

.form-inline > * {
	margin: 5px 3px;
}

.form-inline label:first-of-type {
	font-weight: 700;
}

.languageChoice > label.control-label {
	margin-right: 1em;
}